
.contenedor {
    background-color: bisque;
    border: 1px solid #050202;
    padding: 16px;
    margin: 16px;
    width: 200px; 
}

.contenedor img {
    max-width: 100%;
    border-radius: 8px;
}


  
